<div class="text-center pt-4">
    <h1 class="text-3xl sm:text-5xl mt-4 mb-2 uppercase">Todo List</h1>
    <p class="mb-4">This is a superduper cool ToDo List!</p>
</div>
<section>
    <app-add-task/>
    <div *ngIf="loading$ | async; else todolist">
        <app-task-skeleton *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"/>
    </div>
    
    <ng-template #todolist>
        <div *ngFor="let task of (todos$ | async)">
            <app-todolist-element [task]="task"></app-todolist-element>
        </div>
    </ng-template>
</section>